<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('商品分类列表')" />
    <style>
        .status-enabled { color: #1ab394; }
        .status-disabled { color: #ed5565; }
    </style>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>分类ID：</label>
                            <input type="text" name="id"/>
                        </li>
                        <li>
                            <label>分类名称：</label>
                            <input type="text" name="categoryName"/>
                        </li>
                        <li>
                            <label>状态：</label>
                            <select name="status">
                                <option value="">全部</option>
                                <option value="1">启用</option>
                                <option value="0">禁用</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="Commoditylnformation:classification:add">
                <i class="fa fa-plus"></i> 添加
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('Commoditylnformation:classification:edit')}]];
    var prefix = ctx + "Commoditylnformation/classification";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "商品分类",
            columns: [{
                checkbox: true
            },
            {
                field: 'id',
                title: '序号',
                formatter: function(value, row, index) {
                    return $.table.serialNumber(index);
                }
            },
            {
                field: 'categoryName',
                title: '分类名称'
            },
            {
                field: 'status',
                title: '状态',
                align: 'center',
                formatter: function(value, row, index) {
                    if (value == 1) {
                        return '<span class="status-enabled"><i class="fa fa-check-circle"></i> 启用</span>';
                    } else if (value == 0) {
                        return '<span class="status-disabled"><i class="fa fa-ban"></i> 禁用</span>';
                    }
                    return value;
                }
            },
            {
                title: '操作',
                align: 'center',
                formatter: function(value, row, index) {
                    var actions = [];
                    actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');

                    if (row.status == 1) {
                        actions.push('<a class="btn btn-warning btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="changeStatus(\'' + row.id + '\', 0)"><i class="fa fa-ban"></i>禁用</a>');
                    } else {
                        actions.push('<a class="btn btn-info btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="changeStatus(\'' + row.id + '\', 1)"><i class="fa fa-check-circle"></i>启用</a>');
                    }

                    return actions.join('');
                }
            }]
        };
        $.table.init(options);
    });

    function changeStatus(id, status) {
        var action = status == 1 ? "启用" : "禁用";
        var confirmMsg = "确认要" + action + "这个分类吗？";

        $.modal.confirm(confirmMsg, function() {
            $.ajax({
                url: prefix + "/changeStatus",
                type: "post",
                dataType: "json",
                data: {
                    "id": id,
                    "status": status
                },
                success: function(result) {
                    if (result.code == web_status.SUCCESS) {
                        $.modal.msgSuccess(action + "成功");
                        $.table.refresh();
                    } else {
                        $.modal.alertError(action + "失败：" + result.msg);
                    }
                }
            });
        });
    }
</script>
</body>
</html>