<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('商品品牌列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>品牌ID：</label>
                            <input type="text" name="id"/>
                        </li>
                        <li>
                            <label>品牌名称：</label>
                            <input type="text" name="brandName"/>
                        </li>
                        <li>
                            <label>状态：</label>
                            <select name="status">
                                <option value="">全部</option>
                                <option value="1">启用</option>
                                <option value="0">禁用</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="Commoditylnformation:brand:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="Commoditylnformation:brand:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="Commoditylnformation:brand:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="Commoditylnformation:brand:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('Commoditylnformation:brand:edit')}]];
    var removeFlag = [[${@permission.hasPermi('Commoditylnformation:brand:remove')}]];
    var prefix = ctx + "Commoditylnformation/brand";

    $(function() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "商品品牌",
            columns: [{
                checkbox: true
            },
            {
                field: 'id',
                title: '品牌ID'
            },
            {
                field: 'brandName',
                title: '品牌名称'
            },
<!--            {-->
<!--                field: 'brandInitial',-->
<!--                title: '品牌首字母'-->
<!--            },-->
<!--            {-->
<!--                field: 'sort',-->
<!--                title: '排序'-->
<!--            },-->
            {
                field: 'status',
                title: '状态',
                formatter: function(value, row, index) {
                    return value == 1 ?
                        '<span class="label label-success">启用</span>' :
                        '<span class="label label-danger">禁用</span>';
                }
            },
            {
                title: '操作',
                align: 'center',
                formatter: function(value, row, index) {
                    var actions = [];
                    actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                    actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a> ');
                    actions.push(row.status == 1 ?
                        '<a class="btn btn-warning btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="toggleStatus(\'' + row.id + '\', 0)"><i class="fa fa-ban"></i>禁用</a>' :
                        '<a class="btn btn-info btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="toggleStatus(\'' + row.id + '\', 1)"><i class="fa fa-check-circle"></i>启用</a>');
                    return actions.join('');
                }
            }]
        };
        $.table.init(options);
    });

    function toggleStatus(id, status) {
        var action = status == 1 ? "启用" : "禁用";
        $.modal.confirm("确认要" + action + "该品牌吗？", function() {
            $.ajax({
                url: prefix + "/toggleStatus",
                type: "post",
                data: { "id": id },
                success: function(result) {
                    if (result.code == 0) {
                        $.modal.msgSuccess(action + "成功");
                        $.table.refresh();
                    } else {
                        $.modal.alertError(result.msg);
                    }
                }
            });
        });
    }
</script>
</body>
</html>